<h2 mat-dialog-title>Add New Player</h2>
<form mat-dialog-content #playerForm="ngForm">
  <mat-form-field>
    <input matInput type="text" id="player-name" name="playerName" [(ngModel)]="playerName" 
           placeholder="Player Name" required />
  </mat-form-field>
</form>
<div class="buttons" mat-dialog-actions>
  <button mat-raised-button color="error" (click)="cancel()">
    Cancel
  </button>
  <button mat-raised-button color="primary" [disabled]="!playerName" 
          (click)="save()">
    Save
  </button>
</div>
